@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

.dropdownWrap {
  position: relative;

  .dropdown {
    width: 100%;
    padding: 20px 60px 20px 20px;
    font-size: 16px;
    font-weight: 700;
    color: colors.$MAIN_FONT;
    text-align: left;
    border: 1px solid colors.$BORDER;
    border-radius: 10px;

    .arrowIcon {
      @include position.absolute(27px 26px auto auto);
      pointer-events: none;
    }
  }

  .dropdownListWrap {
    @include position.absolute(66px 0 auto auto);
    display: none;
    width: 100%;
    background-color: colors.$WHITE;
    border: 1px solid colors.$BORDER;
    border-radius: 10px;

    button {
      display: inline-block;
      width: 100%;
      padding: 15px;
      margin-left: 4px;
      font-size: 16px;
      font-weight: 500;
      color: colors.$MAIN_FONT;
      text-align: left;
    }

    li ~ li {
      border-top: 1px solid colors.$BORDER;
    }
  }

}
