@use '/src/styles/constants/colors' as color;

.item {
  width: 305px;
  height: 420px;
  padding: 40px 20px;
  border: 1px solid color.$MANAGEMENT_BORDER_COLOR;
  border-radius: 10px;

  &__title {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 700px;
    color: color.$MANAGEMENT_DROPBAR_TEXT;
  }

  &__content {
    display: flex;
    padding: 13px 0;
    font-size: 12px;

    & dt {
      width: 100px;
      font-weight: 500;
      color: color.$MANAGEMENT_TEXT_PRIMARY;
    }

    & dd {
      font-weight: 700;
      color: color.$MANAGEMENT_TEXT_SECONDARY;
    }
  }

  .divider {
    width: 265px;
    height: 1px;
    background-color: color.$MANAGEMENT_DIVIDER;
  }

  &__editBtn {
    width: 92px;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    color: color.$MANAGEMENT_TEXT_SECONDARY;
    border: 1px solid color.$MANAGEMENT_BORDER_COLOR;
    border-radius: 10px;
  }

  & button:last-child {
    margin-top: 20px;
  }
}
