@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

.wrap {
  position: relative;
  width: 100%;
  height: 60px;
  padding-bottom: 20px;
  border-bottom: 1px solid colors.$GRAY_E;

  ul {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;

    button {
      position: relative;

      .alertIcon {
        width: 20px;
      }

      &.alertWrap::after {
        @include position.absolute(-3px -3px auto auto);
        display: inline-block;
        width: 5px;
        height: 5px;
        content: '';
        background-color: colors.$RED_B;
        border-radius: 50%;
      }

      .settingIcon {
        width: 24px;
        margin: 0 34px;
      }

      &.userWrap {
        display: flex;
        align-items: center;

        .userIconWrap {
          width: 40px;
          height: 40px;
          background-color: colors.$GRAY_E;
          border: 1px solid colors.$GRAY_C;
          border-radius: 50%;

          .userIcon {
            width: 16px;
            margin-top: 7px;
            fill: colors.$GRAY_C;
          }
        }

        span {
          margin-left: 10px;
          font-size: 14px;
          font-weight: 500;
          color: colors.$GRAY_A;
        }
      }
    }
  }
}
