// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY_A: #3a474e;
$GRAY_B: #94a2ad;
$GRAY_C: #d1d8dc;
$GRAY_D: #f6f7f8;
$GRAY_E: #edeff1;
$GRAY_F: #e5f4fd;

// Chromatic
$RED: #ff3b30;
$RED_B: #ea4a4b;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$BLUE_B: #586cf5;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;
$GOLD: #ffd700;
