// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$MAIN_FONT: #3a474e;
$SUB: #94a2ad;
$TEXT_ACTIVE: #586cf5;
$BORDER: #d1d8dc;
$BACK_ACTIVE: #edeff1;
$GUIDE_BACK: #e5f4fd;
$BACKGROUND: #f6f7f8;
$DOT: #ea4a4b;

$MUTED_COLOR: #94a2ad;
$ITEM_BORDER: #edeff1;

$MANAGEMENT_TITLE: #3a474e;
$MANAGEMENT_BACKGROUND: #f6f7f8;
$MANAGEMENT_BUTTON_BLUE: #586cf5;
$MANAGEMENT_DROPBAR_TEXT: #3a474e;
$MANAGEMENT_BORDER_COLOR: #d1d8dc;
$MANAGEMENT_DIVIDER: #edeff1;
$MANAGEMENT_TEXT_PRIMARY: #94a2ad;
$MANAGEMENT_TEXT_SECONDARY: #3a474e;
