@use '/src/styles/constants/colors' as color;

.option {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  &__button {
    width: 108px;
    height: 40px;
    padding: 12px 18px;
    font-size: 14px;
    font-weight: 700;
    color: color.$WHITE;
    background-color: color.$BLUE_B;
    border-radius: 10px;
  }
}
