@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.statusWrapper {
  background: #f6f7f8;

  .statusHeader {
    height: 80px;
    padding: 25px 40px;

    h1 {
      font-size: 26px;
      font-weight: 900;
    }
  }

  .statusInner {
    padding: 21px 40px;
    margin-top: 20px;

    .datePicker {
      @include flexbox.flexbox('between', 'center');
      // input {
      //   width: 228px;
      // }
      position: relative;

      button {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: colors.$MAIN_FONT;

        .icon {
          margin-left: 10px;
        }
      }

      .pickerWrap {
        @include position.absolute(25px -7px auto auto);
        padding: 10px;
        background-color: colors.$WHITE;
        border-radius: 10px;
        box-shadow: 4px 4px 10px rgba(colors.$BLACK, 0.1);

        > div > div {
          border: none;

          > div > div:first-child {
            background-color: colors.$WHITE;
            border-bottom: none;

            > div:first-child {
              margin-bottom: 10px;
            }
          }
        }
      }
    }

    h3 {
      font-size: 16px;
      font-weight: 700;
    }

    .statusBoard {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 40px;
      margin-top: 20px;
      background: #ffffff;
      border-radius: 20px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 4%);

      li {
        @include flexbox.flexbox('between', 'end');
        min-width: 304px;
        padding: 18px 40px;
        margin: 10px;
        border: 0.5px solid #edeff1;
        border-radius: 10px;

        dl {
          dt {
            margin-bottom: 10px;
            font-size: 12px;
            color: #94a2ad;
          }

          dd {
            font-size: 16px;
            font-weight: 700;
          }

          .diffValue {
            font-size: 12px;
            font-weight: 500;
            color: #94a2ad;
          }
        }
      }
    }
  }
}

.isNotVisible {
  display: none;
}
