@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.statusWrapper {
  background: #f6f7f8;

  .statusHeader {
    height: 80px;
    padding: 25px 40px;

    h1 {
      font-size: 26px;
      font-weight: 900;
    }
  }

  .statusInner {
    padding: 21px 40px;
    margin-top: 20px;

    h3 {
      font-size: 16px;
      font-weight: 700;
    }

    .statusBoard {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 40px;
      margin-top: 20px;
      background: #ffffff;
      border-radius: 20px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 4%);

      li {
        @include flexbox.flexbox('between', 'end');
        min-width: 304px;
        padding: 18px 40px;
        margin: 10px;
        border: 0.5px solid #edeff1;
        border-radius: 10px;

        dl {
          dt {
            margin-bottom: 10px;
            font-size: 12px;
            color: #94a2ad;
          }

          dd {
            font-size: 16px;
            font-weight: 700;
          }

          .diffValue {
            font-size: 12px;
            font-weight: 500;
            color: #94a2ad;
          }
        }
      }
    }
  }
}

.isNotVisible {
  display: none;
}
