@use '/src/styles/constants/colors' as color;

.management {
  background-color: color.$MANAGEMENT_BACKGROUND;

  &__title {
    width: 1120px;
    height: 80px;
    padding: 25px 40px;
    font-size: 26px;
    font-weight: 900;
    line-height: 30px;
    color: color.$MANAGEMENT_TITLE;
    letter-spacing: 0.3px;
  }

  .wrapper {
    min-width: 380px;
    padding: 40px;
    margin: 0 40px;
    margin-top: 30px;
    background-color: color.$WHITE;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, $alpha: 0.04);
  }
}
