@use '/src/styles/constants/colors';

.statusInner {
  padding: 21px 40px;
  margin-top: 20px;

  h3 {
    font-size: 16px;
    font-weight: 700;
  }

  .statusBoard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    margin-top: 20px;
    background: colors.$WHITE;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 4%);
  }
}
