@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

.gnb {
  @include position.fixed(0 auto auto 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 100vh;
  padding: 0 40px;
  background-color: colors.$WHITE;
  box-shadow: 4px 0 10px rgba(colors.$BLACK, 0.04);

  h1 {
    padding: 60px 0;
    border-bottom: 1px solid colors.$GRAY_E;

    .logoImg {
      width: 124px;
      height: 30px;
    }
  }

  .subTitle {
    margin: 0 0 13px 20px;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: colors.$GRAY_B;
  }

  .serviceWrap {
    margin-top: 53px;

    .dropdownWrap {
      position: relative;
      margin-bottom: 53px;

      .dropdown {
        width: 100%;
        padding: 20px;
        font-size: 16px;
        font-weight: 700;
        color: colors.$GRAY_A;
        text-align: left;
        border: 1px solid colors.$GRAY_C;
        border-radius: 10px;
      }

      .dropdownListWrap {
        @include position.absolute(66px 0 auto auto);
        display: none;
        width: 100%;
        background-color: colors.$WHITE;
        border: 1px solid colors.$GRAY_C;
        border-radius: 10px;

        li:first-child {
          border-bottom: 1px dashed colors.$GRAY_C;
        }

        button {
          display: inline-block;
          width: 100%;
          padding: 15px;
          margin-left: 4px;
          font-size: 16px;
          font-weight: 500;
          color: colors.$GRAY_A;
          text-align: left;
        }
      }

      .arrowIcon {
        @include position.absolute(27px 26px auto auto);
        pointer-events: none;
      }
    }
  }

  .adWrap {
    .navWrap {
      a {
        display: inline-block;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 20px;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        border-radius: 10px;

        .icon {
          width: 20px;
          height: 20px;
          fill: colors.$GRAY_A;
        }

        span {
          margin-left: 12px;
          color: colors.$GRAY_A;
        }

        &.active {
          background-color: colors.$GRAY_E;

          .icon {
            fill: colors.$BLUE_B;
          }

          span {
            color: colors.$BLUE_B;
          }
        }
      }
    }
  }

  .guideWrap {
    display: flex;
    column-gap: 8px;
    align-items: center;
    width: 100%;
    padding: 30px 20px;
    margin-bottom: 40px;
    background-color: colors.$GRAY_F;
    border-radius: 10px;

    .guideIconWrap {
      width: 40px;
      height: 40px;
      background-color: colors.$BLUE_B;
      border-radius: 50%;

      .guideIcon {
        width: 16px;
        height: 22px;
        margin-top: 8px;
      }
    }

    .guideTextWrap {
      p {
        margin: 0 0 5px -7px;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        color: colors.$GRAY_A;
      }

      span {
        font-size: 12px;
        font-weight: 500;
        color: colors.$GRAY_B;
      }
    }
  }

  .conditionWrap {
    margin: 0 0 56px 20px;
    font-size: 12px;

    p {
      margin-bottom: 12px;
      color: colors.$GRAY_B;
    }

    a {
      color: colors.$GRAY_B;
      text-decoration: underline;
    }
  }
}
