@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

.gnb {
  @include position.fixed(0 auto auto 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 100vh;
  padding: 0 40px;
  background-color: colors.$WHITE;
  box-shadow: 4px 0 10px rgba(colors.$BLACK, 0.04);

  h1 {
    padding: 60px 0;
    border-bottom: 1px solid colors.$BACK_ACTIVE;

    .logoImg {
      width: 124px;
      height: 30px;
    }
  }

  .subTitle {
    margin: 0 0 13px 20px;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: colors.$SUB;
  }

  .serviceWrap {
    margin: 53px 0;
  }

  .adWrap {
    .navWrap {
      a {
        display: inline-block;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 20px;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        border-radius: 10px;

        .icon {
          width: 20px;
          height: 20px;
          fill: colors.$MAIN_FONT;
        }

        span {
          margin-left: 12px;
          color: colors.$MAIN_FONT;
        }

        &.active {
          background-color: colors.$BACK_ACTIVE;

          .icon {
            fill: colors.$TEXT_ACTIVE;
          }

          span {
            color: colors.$TEXT_ACTIVE;
          }
        }
      }
    }
  }

  .guideWrap {
    display: flex;
    column-gap: 8px;
    align-items: center;
    width: 100%;
    padding: 30px 20px;
    margin-bottom: 40px;
    background-color: colors.$GUIDE_BACK;
    border-radius: 10px;

    .guideIconWrap {
      width: 40px;
      height: 40px;
      background-color: colors.$TEXT_ACTIVE;
      border-radius: 50%;

      .guideIcon {
        width: 16px;
        height: 22px;
        margin-top: 8px;
      }
    }

    .guideTextWrap {
      p {
        margin: 0 0 5px -7px;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        color: colors.$MAIN_FONT;
      }

      span {
        font-size: 12px;
        font-weight: 500;
        color: colors.$SUB;
      }
    }
  }

  .conditionWrap {
    margin: 0 0 56px 20px;
    font-size: 12px;

    p {
      margin-bottom: 12px;
      color: colors.$SUB;
    }

    a {
      color: colors.$SUB;
      text-decoration: underline;
    }
  }
}
