@use '/src/styles/constants/colors';

.wrapper {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 123px;
  height: 40px;
  margin: 0 5px;
  background-color: colors.$WHITE;
  background-color: colors.$WHITE;
  border-radius: 10px;

  .currentMenu {
    position: relative;
    width: 123px;
    height: 40px;
    font-size: 12px;
    border-radius: 10px;

    .icon {
      position: absolute;
      top: 16px;
      right: 16px;
    }

    &.red {
      border: 1px solid #d1d8dc;

      &::before {
        position: absolute;
        top: 15px;
        left: 20px;
        width: 10px;
        height: 10px;
        content: '';
        background-color: colors.$RED;
        border-radius: 5px;
      }
    }

    &.orange {
      border: 1px solid #d1d8dc;

      &::before {
        position: absolute;
        top: 15px;
        left: 20px;
        width: 10px;
        height: 10px;
        content: '';
        background-color: colors.$ORANGE;
        border-radius: 5px;
      }
    }

    &.gold {
      border: 1px solid #d1d8dc;

      &::before {
        position: absolute;
        top: 15px;
        left: 20px;
        width: 10px;
        height: 10px;
        content: '';
        background-color: colors.$GOLD;
        border-radius: 5px;
      }
    }

    &.green {
      border: 1px solid #d1d8dc;

      &::before {
        position: absolute;
        top: 15px;
        left: 20px;
        width: 10px;
        height: 10px;
        content: '';
        background-color: colors.$GREEN;
        border-radius: 5px;
      }
    }

    &.blue {
      border: 1px solid #d1d8dc;

      &::before {
        position: absolute;
        top: 15px;
        left: 20px;
        width: 10px;
        height: 10px;
        content: '';
        background-color: colors.$BLUE;
        border-radius: 5px;
      }
    }

    &.purple {
      border: 1px solid #d1d8dc;

      &::before {
        position: absolute;
        top: 15px;
        left: 20px;
        width: 10px;
        height: 10px;
        content: '';
        background-color: colors.$PURPLE;
        border-radius: 5px;
      }
    }
  }

  .menu {
    position: absolute;
    top: 40px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 123px;
    background-color: colors.$WHITE;
    border: 1px solid #d1d8dc;
    border-radius: 10px;

    .menuItem {
      position: relative;
      width: 123px;
      height: 40px;

      &.red {
        &::before {
          position: absolute;
          top: 15px;
          left: 20px;
          width: 10px;
          height: 10px;
          content: '';
          background-color: colors.$RED;
          border-radius: 5px;
        }
      }

      &.orange {
        &::before {
          position: absolute;
          top: 15px;
          left: 20px;
          width: 10px;
          height: 10px;
          content: '';
          background-color: colors.$ORANGE;
          border-radius: 5px;
        }
      }

      &.gold {
        &::before {
          position: absolute;
          top: 15px;
          left: 20px;
          width: 10px;
          height: 10px;
          content: '';
          background-color: colors.$GOLD;
          border-radius: 5px;
        }
      }

      &.green {
        &::before {
          position: absolute;
          top: 15px;
          left: 20px;
          width: 10px;
          height: 10px;
          content: '';
          background-color: colors.$GREEN;
          border-radius: 5px;
        }
      }

      &.blue {
        &::before {
          position: absolute;
          top: 15px;
          left: 20px;
          width: 10px;
          height: 10px;
          content: '';
          background-color: colors.$BLUE;
          border-radius: 5px;
        }
      }

      &.purple {
        &::before {
          position: absolute;
          top: 15px;
          left: 20px;
          width: 10px;
          height: 10px;
          content: '';
          background-color: colors.$PURPLE;
          border-radius: 5px;
        }
      }

      &.black {
        width: 123px;
        height: 40px;
      }
    }
  }
}
