@use '/src/styles/constants/colors';

.wrapper {
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: block;
    height: 15px;
  }

  &::-webkit-scrollbar-track {
    background-color: colors.$GRAY_E;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$GRAY_A;
    border-radius: 10px;
  }

  table {
    width: 1350px;
  }

  th {
    border-top: 1px solid colors.$GRAY_A;
    border-bottom: 1px solid colors.$GRAY_A;
  }

  td {
    border-bottom: 1px solid colors.$GRAY_A;
  }

  th,
  td {
    width: 13%;
    height: 40px;
    line-height: 40px;
    text-align: right;
  }

  th.first,
  td.first {
    width: 5%;
    text-align: left;
  }
}
